@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,400;0,500;1,600&display=swap");

body {
  font-family: "Inter", sans-serif;
}

#header {
  z-index: 1001 !important;
}
.header {
  z-index: 1001 !important;
}
.section-container {
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4;
}

.subtitle {
  @apply text-red uppercase tracking-wide font-medium text-lg;
}

.title {
  @apply text-4xl md:text-5xl font-bold my-2 md:leading-snug leading-snug;
}

.slick-slider {
  /* background-color: aquamarine; */
  /* padding-left: 30px; */
  /* height: 480px !important; */
}

.slick-prev {
  z-index: 1;
  /* background-color: red !important; */
}
.slick-next {
  z-index: 1;
  /* background-color: red !important; */
}

.slick-dots li button:before {
  color: rgb(179, 178, 178) !important;
  font-size: 10px !important;
  margin-top: 10px;
}

.slick-dots li.slick-active button:before {
  color: white !important;
  /* font-size: 12px !important; */
}
